<!--we are printing the contact data
notice the *ngIf property - it tells angular to only print this item if the statement is true.
if "contactDetails.isFavourite" is true, it will be printed, otherwise it won't.
-->

<div *ngIf="contactDetails.isFavourite" class="fav-contact-wrap" >
  <div class="contact-name">
   Name:  {{contactDetails.name}}
  </div>
  <div class="contact-phone">
    Phone : {{contactDetails.phone}}
  </div>
  <div class="contact-email">
    Email : {{contactDetails.email}}
  </div>
</div>
